# Simple Linear Regression

## Importing the libraries

In [21]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

## Importing the dataset

In [22]:
df=pd.read_csv(r'D:\COURSES\AI\Epsilon Ai\Session 29\bikes.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   datetime            10886 non-null  object
 1   season              10672 non-null  object
 2   holiday             10030 non-null  float64
 3   workingday          9388 non-null   float64
 4   weather             8746 non-null   object
 5   temp                8104 non-null   float64
 6   humidity            7462 non-null   float64
 7   windspeed           6820 non-null   float64
 8   casual              10886 non-null  int64
 9   registered          10886 non-null  int64
 10  rented_bikes_count  10886 non-null  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 935.6+ KB

In [23]:
df

,datetime,season,holiday,workingday,weather,temp,humidity,windspeed,casual,registered,rented_bikes_count
0,2011-01-01 00:00:00,Spring,0.0,0.0,Clear,9.84,81.0,NaN,3,13,16
1,2011-01-01 01:00:00,Spring,0.0,0.0,NaN,9.02,80.0,0.0000,8,32,40
2,2011-01-01 02:00:00,Spring,0.0,0.0,Clear,9.02,NaN,0.0000,5,27,32
3,2011-01-01 03:00:00,Spring,0.0,0.0,Clear,9.84,75.0,0.0000,3,10,13
4,2011-01-01 04:00:00,NaN,0.0,0.0,Clear,NaN,75.0,NaN,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,Winter,0.0,1.0,Clear,15.58,50.0,26.0027,7,329,336
10882,2012-12-19 20:00:00,Winter,0.0,1.0,NaN,14.76,NaN,NaN,10,231,241
10883,2012-12-19 21:00:00,NaN,0.0,1.0,Clear,13.94,61.0,15.0013,4,164,168
10884,2012-12-19 22:00:00,Winter,NaN,1.0,Clear,13.94,NaN,6.0032,12,117,129
10885,2012-12-19 23:00:00,Winter,0.0,1.0,Clear,13.12,66.0,8.9981,4,84,88

In [24]:

df.drop(['windspeed', 'humidity', 'temp','season','datetime','weather'],axis=1,inplace=True)
df.isnull().sum()

holiday                856
workingday            1498
casual                   0
registered               0
rented_bikes_count       0
dtype: int64

In [25]:
df.isnull().sum()

holiday                856
workingday            1498
casual                   0
registered               0
rented_bikes_count       0
dtype: int64

In [26]:
df.dropna(axis=0,inplace=True)
df.isnull().sum()

holiday               0
workingday            0
casual                0
registered            0
rented_bikes_count    0
dtype: int64

In [27]:
x=df.drop('rented_bikes_count',axis=1)
y=df['rented_bikes_count']

In [28]:
from sklearn.model_selection import train_test_split
x_train ,x_test ,y_train ,y_test = train_test_split(x,y,test_size= 0.2 ,random_state = 0)

In [29]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train_scaled=scaler.fit_transform(x_train)
x_test_scaled=scaler.transform(x_test)

In [31]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train_scaled,y_train)

LinearRegression()

In [32]:
model.predict(x_test_scaled)

array([268., 165., 118., ..., 744.,  11.,  63.])

In [33]:
model.score(x_train_scaled,y_train)

1.0

In [34]:
model.score(x_test_scaled,y_test)

1.0

In [35]:
data=[30,14,32,4.5]
data_scaled=scaler.transform([data])
model.predict(data_scaled)[0]

c:\Users\Hamed\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

36.49999999999736

In [36]:
import joblib

In [37]:
joblib.dump(scaler,'scaler.h4')
joblib.dump(model,'model.h4')

['model.h4']

In [38]:
model1=joblib.load('model.h4')
scaler1=joblib.load('model.h4')