In [2]:
import pandas as pd
import plotly.express as px
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from datasist.structdata import detect_outliersn

ImportError: cannot import name 'detect_outliersn' from 'datasist.structdata' (c:\Users\Hamed\AppData\Local\Programs\Python\Python311\Lib\site-packages\datasist\structdata.py)

In [ ]:
df=pd.read_csv('bikes.csv')
df

,datetime,season,holiday,workingday,weather,temp,humidity,windspeed,casual,registered,rented_bikes_count
0,2011-01-01 00:00:00,Spring,0.0,0.0,Clear,9.84,81.0,NaN,3,13,16
1,2011-01-01 01:00:00,Spring,0.0,0.0,NaN,9.02,80.0,0.0000,8,32,40
2,2011-01-01 02:00:00,Spring,0.0,0.0,Clear,9.02,NaN,0.0000,5,27,32
3,2011-01-01 03:00:00,Spring,0.0,0.0,Clear,9.84,75.0,0.0000,3,10,13
4,2011-01-01 04:00:00,NaN,0.0,0.0,Clear,NaN,75.0,NaN,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,Winter,0.0,1.0,Clear,15.58,50.0,26.0027,7,329,336
10882,2012-12-19 20:00:00,Winter,0.0,1.0,NaN,14.76,NaN,NaN,10,231,241
10883,2012-12-19 21:00:00,NaN,0.0,1.0,Clear,13.94,61.0,15.0013,4,164,168
10884,2012-12-19 22:00:00,Winter,NaN,1.0,Clear,13.94,NaN,6.0032,12,117,129
10885,2012-12-19 23:00:00,Winter,0.0,1.0,Clear,13.12,66.0,8.9981,4,84,88

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   datetime            10886 non-null  object
 1   season              10672 non-null  object
 2   holiday             10030 non-null  float64
 3   workingday          9388 non-null   float64
 4   weather             8746 non-null   object
 5   temp                8104 non-null   float64
 6   humidity            7462 non-null   float64
 7   windspeed           6820 non-null   float64
 8   casual              10886 non-null  int64
 9   registered          10886 non-null  int64
 10  rented_bikes_count  10886 non-null  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 935.6+ KB

In [ ]:
df.isnull().sum()

datetime                 0
season                 214
holiday                856
workingday            1498
weather               2140
temp                  2782
humidity              3424
windspeed             4066
casual                   0
registered               0
rented_bikes_count       0
dtype: int64

In [ ]:
df.dropna(axis=0,inplace=True)

In [ ]:
df.isnull().sum()

datetime              0
season                0
holiday               0
workingday            0
weather               0
temp                  0
humidity              0
windspeed             0
casual                0
registered            0
rented_bikes_count    0
dtype: int64

In [ ]:
num_col=df.select_dtypes('number').columns
num_col

Index(['holiday', 'workingday', 'temp', 'humidity', 'windspeed', 'casual',
       'registered', 'rented_bikes_count'],
      dtype='object')

In [ ]:
df['datetime']=pd.to_datetime(df['datetime'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2177 entries, 3 to 10885
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   datetime            2177 non-null   datetime64[ns]
 1   season              2177 non-null   object
 2   holiday             2177 non-null   float64
 3   workingday          2177 non-null   float64
 4   weather             2177 non-null   object
 5   temp                2177 non-null   float64
 6   humidity            2177 non-null   float64
 7   windspeed           2177 non-null   float64
 8   casual              2177 non-null   int64
 9   registered          2177 non-null   int64
 10  rented_bikes_count  2177 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(3), object(2)
memory usage: 204.1+ KB

In [ ]:
indexes=detect_outliers(df,0,num_col)
len(indexes)

NameError: name 'detect_outliers' is not defined

In [ ]:
df.drop(indexes,axis=0,inplace=True)
df

In [ ]:
df['year']=df['datetime'].dt.year
df['month']=df['datetime'].dt.month

In [ ]:
cat_col=df.select_dtypes('object').columns
cat_col

In [ ]:
df=pd.get_dummies(df,cat_col,drop_first=True)
df

In [ ]:
df.drop('datetime',axis=1,inplace=True)
df

In [ ]:
df.corr()

In [ ]:
df.drop('holiday',axis=1,inplace=True)

In [ ]:
df.drop(['casual','registered'],axis=1,inplace=True)
df

In [ ]:
x=df.drop('rented_bikes_count',axis=1)
y=df['rented_bikes_count']

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [ ]:
models={
    'LR':LinearRegression(),
    'KNN':KNeighborsRegressor(n_neighbors=7),
    'SVR':SVR()
}

In [ ]:
for name,model in models.items():
    print('using:',name)
    model.fit(x_train_scaled,y_train)
    print('train accuracy: ',model.score(x_train_scaled,y_train))
    print('test accuracy: ',model.score(x_test_scaled,y_test))
    print('-'*20)